<div *ngIf="signInFormVisible; else signupform">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button  class="nav-link active">Signin</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="makeSignUpFormVisable()">Signup</button>
    </li>
  </ul>
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img [src]="imageUrl"
                      alt="login form" class="img-fluid"/>
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">                          
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <img [src]="LoginLogo" alt="LoginLogo" class="img-logo">
                        </div>
                        <span class="login-span">Sign into your account</span>
                        <hr>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17">Email address</label>
                          <input type="email" [(ngModel)]="email" name="email" class="form-control form-control-lg" />
                        </div>      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example27">Password</label> 
                          <input type="password" [(ngModel)]="password" name="password" class="form-control form-control-lg"
                            matInput [type]="hide ? 'password' : 'text'">                          
                          <button class="login-button-hide" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </div>
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary btn-lg btn-block" type="button" (click)="signin()">Login</button>
                        </div>      
                        <a class="small text-muted" href="#!">Forgot password?</a>
                        <hr>
                        <div>
                          <button (click)="makeSignUpFormVisable()" class="btn btn-primary btn-lg ">Don't have an account? Register here</button>
                        </div>
                        <hr>                        
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a>                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
<ng-template #signupform>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button  class="nav-link" (click)="makeSignInFormVisable()">Signin</button>
      </li>
      <li class="nav-item">
        <a class="nav-link active">Signup</a>
      </li>
    </ul>
  </div>
  <app-signup>
  </app-signup>
</ng-template>