<div class="b-wrapper">
    <div class="float-end">
        <a type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" [routerLink]="['/create']">
            Create Album
        </a>
    </div><br>
    <span>All my albums will be listed here</span>
    <div>
        <a type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" [routerLink]="['/album/:11']">
            <span>
                Go to specific album
            </span>
        </a>
    </div>
</div>

